<div class="container-login">
  <h1>OFFSIDE</h1>

  <form action="/" method="POST">

    <div class="ingreso-github">
      <i class="fa-brands fa-github"></i>
      <a href="/github">Ingresar con Github</a>
    </div>

    <div class="separacion">
      <div class="linea-separacion"></div>
      <div class="circulo-separacion">O</div>
      <div class="linea-separacion"></div>
    </div>

    <div class="container-datos">
      <div class="ingreso-datos">
        <label for="email">Correo electrónico</label>
        <input
          placeholder="Ingresa tu correo electrónico"
          type="email"
          id="email"
          name="email"
          required
        />
      </div>

      <div class="ingreso-datos">
        <label for="password">Contraseña</label>
        <input
          placeholder="Ingresa tu contraseña"
          type="password"
          id="password"
          name="password"
          required
        />
      </div>

      <button type="submit">Iniciar sesión</button>
      <div class="container-continuar-sin-registrar">
        <a href="/api/products" class="continuar-sin-registrar">Continuar sin
          registrarme</a>
      </div>
    </div>

    <div class="crear-cuenta">
      <p>¿Aún no tienes tu cuenta?</p>
      <a href="/register">Registrarme</a>
      <p class="terminos-condiciones">Al iniciar sesión, estás aceptando
        nuestros
        <span>Términos y Condiciones</span>
        y nuestra política sobre
        <span>Protección de Datos.</span></p>
    </div>

  </form>

</div>

<script
  src="https://kit.fontawesome.com/7d8fc250a8.js"
  crossorigin="anonymous"
></script>