<a href="/api/products">todos los productos</a>
<h1>Mi Perfil</h1>
<p>Bienvenido: {{user.first_name}} {{user.last_name}}!</p>
<p>Email: {{user.email}}</p>
<a href="/logout">Logout</a>
<br>
<br>
<a href="/realtimeproducts">Cargar productos</a>